@font-face {
  font-family: "IowanOldSt BT";
  src: url("../fonts/Iowan_Old_Style/IowanOldStyleBT-Roman.eot");
  src: url("../fonts/Iowan_Old_Style/IowanOldStyleBT-Roman.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Iowan_Old_Style/IowanOldStyleBT-Roman.woff2") format("woff2"),
    url("../fonts/Iowan_Old_Style/IowanOldStyleBT-Roman.woff") format("woff"),
    url("../fonts/Iowan_Old_Style/IowanOldStyleBT-Roman.ttf") format("truetype"),
    url("../fonts/Iowan_Old_Style/IowanOldStyleBT-Roman.svg#IowanOldStyleBT-Roman")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #f3f2ed;
  margin-bottom: 0;
}

.centered-content {
  width: 1024px;
  margin: auto;
}

h1 {
  color: #2c2a27;
  font-family: "IowanOldSt BT", sans-serif;
  font-weight: 400;
  font-size: 38px;
}

h2 {
  color: #ad764b;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 22px;
  font-variant: small-caps;
  letter-spacing: 0.15em;
}

h3 {
  color: #ad764b;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  font-variant: normal;
  letter-spacing: 0.15em;
}

.occupation-title {
  color: #84522a;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 21px;
  font-variant: small-caps;
  letter-spacing: 0.1em;
}

.contacts-bar {
  margin-top: 132px;
  margin-bottom: 70px;
  display: flex;
}

.contacts-info,
.year {
  margin-left: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #2c2a27;
  letter-spacing: 0.3px;
  line-height: 150%;
}

.contact-icon {
  margin-left: 50px;
}

.telegram-link {
  margin-top: 15px;
  text-decoration: none;
}

.telegram-link:hover,
.github-link:hover {
  text-decoration: underline;
}

.first-page-container {
  display: flex;
  margin-bottom: 145px;
}

.about-me-section {
  width: 470px;
  margin-left: 50px;
  margin-right: 55px;
}

.name {
  margin-bottom: 90px;
}

.first-paragraph,
.second-paragraph,
.third-paragraph,
.task,
.example {
  margin-bottom: 32px;
  font-family: Roboto;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0.4px;
}

.portrait {
  margin-top: 25px;
}

.portrait-image {
  width: 420px;
  height: 740px;
}

.second-page-container {
  display: flex;
  margin-bottom: 145px;
}

.left-side-section {
  width: 435px;
  margin-left: 52px;
}

.skills-title {
  margin-bottom: 15px;
}

.skills-list {
  padding-left: 0px;
  margin-bottom: 30px;
}

li {
  color: #2c2a27;
  font-family: Roboto;
  font-weight: 400;
  list-style-type: none;
  letter-spacing: 0.4px;
}

.skills-list li:before,
.languages-list li:before {
  content: "• ";
  color: #ad764b;
  font-size: 25px;
  padding-right: 10px;
  vertical-align: middle;
}

.languages-list,
.education-list,
.courses-list {
  padding-left: 0;
  line-height: 150%;
}

.russian-bar,
.english-bar {
  margin-left: 27px;
}

.languages-list-item {
  margin-left: 25px;
}

.divider {
  padding-top: 17px;
}

.right-side-section {
  margin-left: 20px;
}

.education-title {
  margin-bottom: 30px;
}

.education-list-item-title {
  color: #2c2a27;
  font-family: Roboto;
  font-weight: 700;
}

.education-list .education-list-item {
  margin-top: 20px;
}

.courses-list li {
  padding: 3px 0px;
}

.courses-list li ul {
  padding-left: 20px;
}

.course-link {
  color: #2c2a27;
  text-decoration: none;
}

.codewars-link {
  color: #ad764b;
  text-decoration: none;
}

.course-link:hover,
.codewars-link:hover {
  text-decoration: underline;
}

.bottom-side-section {
  width: 740px;
  margin-left: 52px;
  margin-bottom: 70px;
}

.code-styled-text {
  padding: 0.2em 0.4em;
  margin: 0;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  font-size: 80%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}

.code-example-block {
  width: 920px;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}

.footer-section-block {
  width: 920px;
  height: 70px;
  margin-left: 52px;
  background-color: #84522a;
  display: flex;
  justify-content: space-between;
}

.github-info {
  width: 180px;
  height: 70px;
}

.github-icon {
  margin-top: 20px;
  margin-left: 20px;
}

.github-link {
  color: #deb392;
  position: relative;
  bottom: 13px;
  text-decoration: none;
}

.year {
  color: #deb392;
  padding-top: 32px;
  padding-bottom: 13px;
  margin-left: 0;
}

.rsschool-info {
  margin-top: 10px;
  margin-right: 20px;
}
